<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div th:object="${diet}">
        <h5 th:text="*{date}"></h5>
        <h5 th:text="*{kindOfMeal}"></h5>
        <h5 th:each="food : *{foods}" th:text="${food.food}"></h5>
        <h5 th:text="*{ratingAverage}"></h5>
    </div>
</div>
<div>
    <!--  comment count number -->
    <h5 th:text="${countComment} + ' Comments'"></h5>
</div>
<div>
    <!--  comment write button -->
    <button th:onclick="'window.location.href = \'' +  @{/comment/create/{dietId}(dietId=${diet.id})} + '\''"
            th:text="write"></button>
</div>
<div>
    <!--  comment list -->
    <label>My Write</label>
    <div th:each="comment : ${diet.commentList}" th:if="${login.id} == ${comment.login.id}">
        <label>user : </label><h5 th:text="${comment.login.name}"></h5>
        <label>subeject :</label><h5 th:text="${comment.subject}"></h5>
        <label>rating : </label><h5 th:text="${comment.rating}"></h5>
        <label>content : </label><h5 th:text="${comment.content}"></h5>
        <button th:onclick="'window.location.href = \'' +  @{/comment/sympathy/{commentId}/{dietId}(commentId=${comment.id}, dietId=${diet.id})} + '\''"
                th:text="${comment.sympathy} + ' sympathy'"/>
        <button th:onclick="'window.location.href = \'' +  @{/comment/update/{commentId}/{dietId}(commentId=${comment.id}, dietId=${diet.id})} + '\''"
                th:text="update"/>
        <button th:onclick="'window.location.href = \'' +  @{/comment/delete/{commentId}/{dietId}(commentId=${comment.id}, dietId=${diet.id})} + '\''"
                th:text="delete"/>
    </div>
    <div th:each="comment : ${diet.commentList}" th:unless="${login.id} == ${comment.login.id}">
        <label>user : </label><h5 th:text="${comment.login.name}"></h5>
        <label>subeject :</label><h5 th:text="${comment.subject}"></h5>
        <label>rating : </label><h5 th:text="${comment.rating}"></h5>
        <label>content : </label><h5 th:text="${comment.content}"></h5>
        <button th:onclick="'window.location.href = \'' +  @{/comment/sympathy/{commentId}/{dietId}(commentId=${comment.id}, dietId=${diet.id})} + '\''"
                th:text="${comment.sympathy} + ' sympathy'"/>
    </div>
</div>
</body>
</html>