<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div> 기숙사 식사 개선 page</div>
<!-- 로그인 -->
<div>
    <div th:if="${login.id} != null">
        <table>
            <tr>
                <td th:text="${login.id} + ' Welcome'"></td>
            </tr>
            <tr>
                <td><button onclick="location.href = '/login/logout'">Logout</button></td>
            </tr>
        </table>
    </div>
    <div th:if="${login.id} == null">
        <form th:action="@{/login/signIn}" method="post">
            <input type="text" name="id"/>
            <input type="password" name="password"/>
            <input type="submit" value="Login"/>
        </form>
        <button th:onclick="'window.location.href = \'' +  @{/login/signUp} + '\''"
                th:text="SignUp">
        </button>
    </div>
    <!-- 식단표   -->
    <div>
        <table>
            <tr>
                <td th:each="diet : ${dietlist}" th:if="${diet.kindOfMeal.toString().equals('breakfast')}">
                    <ol>
                        <li th:text="${diet.date}"></li>
                        <li th:text="${diet.dayOfWeek}"></li>
                        <li th:each="food : ${diet.foods}" th:text="${food.food}"></li>
                    </ol>
                    <button th:onclick="'window.location.href = \'' +  @{/diet/{id}(id=${diet.id})} + '\''"
                            th:text="comment">
                    </button>
                </td>
            </tr>
            <tr>
                <td th:each="diet : ${dietlist}" th:if="${diet.kindOfMeal.toString().equals('lunch')}">
                    <ol>
                        <li th:text="${diet.date}"></li>
                        <li th:text="${diet.dayOfWeek}"></li>
                        <li th:each="food : ${diet.foods}" th:text="${food.food}"></li>
                    </ol>
                    <button th:onclick="'window.location.href = \'' +  @{/diet/{id}(id=${diet.id})} + '\''"
                            th:text="comment"></button>
                </td>
            </tr>
            <tr>
                <td th:each="diet : ${dietlist}" th:if="${diet.kindOfMeal.toString().equals('dinner')}">
                    <ol>
                        <li th:text="${diet.date}"></li>
                        <li th:text="${diet.dayOfWeek}"></li>
                        <li th:each="food : ${diet.foods}" th:text="${food.food}"></li>
                    </ol>
                    <button th:onclick="'window.location.href = \'' +  @{/diet/{id}(id=${diet.id})} + '\''"
                            th:text="comment">
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <!-- 신고 게시판   -->
    <div>
        <div>
            <!--    음식 사진       <-->
            <img>
        </div>
        <div>
        </div>
    </div>
</div>
</body>
</html>