<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div> 기숙사 식사 개선 page</div>
<!-- 로그인 -->
<div>
    <div>
        <table>
            <input type="text">
            <input type="password">
        </table>
    </div>
    <!-- 식단표   -->
    <div>
        <table>
            <tr>
                <td th:each="diet : ${dietlist}" th:if="${diet.kindOfMeal.toString().equals('breakfast')}">
                    <ol>
                        <li th:text="${diet.date}"></li>
                        <li th:text="${diet.dayOfWeek}"></li>
                        <li th:each="food : ${diet.foods}" th:text="${food.food}"></li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td th:each="diet : ${dietlist}" th:if="${diet.kindOfMeal.toString().equals('lunch')}">
                    <ol>
                        <li th:text="${diet.date}"></li>
                        <li th:text="${diet.dayOfWeek}"></li>
                        <li th:each="food : ${diet.foods}" th:text="${food.food}"></li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td th:each="diet : ${dietlist}" th:if="${diet.kindOfMeal.toString().equals('dinner')}">
                    <ol>
                        <li th:text="${diet.date}"></li>
                        <li th:text="${diet.dayOfWeek}"></li>
                        <li th:each="food : ${diet.foods}" th:text="${food.food}"></li>
                    </ol>
                </td>
            </tr>
        </table>
    </div>
    <!-- 신고 게시판   -->
    <div>
        <div>
            <!--    음식 사진       <-->
            <img>
        </div>
        <div>
        </div>
    </div>
</div>
</body>
</html>